*
{
   box-sizing: border-box;
}

:root
{
   --white:#ffffff;
   --black: #000000;
   --yellow:#f0ff23;
}

body
{
    background: var(--bg);
    position: relative;
    overflow-x: hidden;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: keep-all;
}

#btn
{
   text-decoration: none;
   cursor: pointer;
   color: var(--btnColor);
   font-size: 20px;
}

.light-theme
{
    --bg:var(--white);
    --footerBg:#f8f9fa;
    --fontColor:var(--black);
    --btnColor:var(--black);
}

.dark-theme
{
    --bg:var(--black);
    --footerBg:var(--black);
    --fontColor:var(--white);
    --btnColor:var(--yellow);
}

h1,h4,p
{
   color: var(--fontColor);
}

#my-circle1
{
   border-radius: 50%;
   border: 2px solid deepskyblue;
   width: 400px;
   height: 400px;
   margin-top: -800px;
   margin-right: -100px;
}

#my-circle2
{
   border-radius: 50%;
   border: 2px solid rgb(154, 104, 255);
   width: 300px;
   height: 300px;
   margin-top: -600px;
}

#my-circle3
{
   border-radius: 50%;
   border: 2px solid rgb(133, 72, 255);
   width: 250px;
   height: 250px;
   margin-top: -400px;
   margin-right: -170px;
}

#sent1,#sent2,#sent3
{
   overflow: hidden;
   white-space: nowrap;
   opacity: 0;
   font-weight: 900;
   text-align: center;
   margin: 0 auto;
}

#sent1
{
   width: 8em;
   background: linear-gradient(to right,rgb(85, 179, 255),rgb(95, 183, 255),rgb(154, 104, 255),rgb(133, 72, 255));
   background: -webkit-linear-gradient(to right,rgb(85, 179, 255),rgb(95, 183, 255),rgb(154, 104, 255),rgb(133, 72, 255));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: sentence1 4s steps(40,end) 1s 1 normal forwards;
}

#sent2
{
   width: 15em;
   background: linear-gradient(to right,rgb(120, 212, 255),rgb(173, 132, 255),rgb(152, 103, 249));
   background: -webkit-linear-gradient(to right,rgb(120, 212, 255),rgb(173, 132, 255),rgb(152, 103, 249));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: sentence2 6s steps(60,end) 4s 1 normal forwards;
}

#sent3
{
   width: 7em;
   padding-bottom: 60px;
   background: linear-gradient(to right,rgb(173, 132, 255),rgb(113, 103, 249));
   background: -webkit-linear-gradient(to right,rgb(120, 212, 255),rgb(173, 132, 255),rgb(152, 103, 249));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: sentence3 5s steps(50,end) 9s 1 normal forwards;
}

#work-btn,#resume-btn
{
   overflow: hidden;
   opacity: 0;
   white-space: nowrap;
   border: 3px solid;
   border-image-slice: 1;
   border-image-source: linear-gradient(to right,rgb(95, 183, 255),rgb(154, 104, 255));
   box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.20);
   margin-right: 42px;
   padding-top: 13px;
   padding-bottom: 13px;
   padding-left: 25px;
   padding-right: 25px;
   text-decoration: none;
}

#work-btn
{
   color: rgb(170, 128, 255);
   animation: home-page-buttons 2s steps(20,end) 12s 1 normal forwards;
   -webkit-animation: home-page-buttons 2s steps(20,end) 12s 1 normal forwards;
}

#resume-btn
{
   color: deepskyblue;
   animation: home-page-buttons 2s steps(20,end) 13s 1 normal forwards;
   -webkit-animation: home-page-buttons 2s steps(20,end) 13s 1 normal forwards;
}

@keyframes sentence1
{
   0% {width: 0; opacity: 0;}
   1% {opacity: 1;}
   100% {width: 100%; opacity: 1;}
}

@keyframes sentence2
{
   0% {width: 0; opacity: 0;}
   1% {opacity: 1;}
   100% {width: 100%; opacity: 1;}
}

@keyframes sentence3 
{
   0% {width: 0; opacity: 0;}
   1% {opacity: 1;}
   100% {width: 100%; opacity: 1;}
}

@keyframes text1 
{
   0% {width: 0; opacity: 0;}
   1% {opacity: 1;}
   100% {width:100%; opacity: 1;}
}

@keyframes home-page-buttons
{
   from {opacity: 0;}
   to {opacity: 1;}
}

#about-text
{
   background-color: var(--bg);
   width: 700px;
   height: 620px;
   margin-left: 640px;
   padding-left: 30px;
   padding-right: 20px;
   padding-top: 30px;
   padding-bottom: 11px;
}

#my-circle4
{
   border-radius: 50%;
   border: 2px solid deepskyblue;
   width: 400px;
   height: 400px;
   margin-top: -600px;
   margin-left: -100px;
}

#my-circle5
{
   border-radius: 50%;
   border: 2px solid rgb(154, 104, 255);
   width: 300px;
   height: 300px;
   margin-top: -200px;
   margin-left: -10px;
}

#my-circle6
{
   border-radius: 50%;
   border: 2px solid rgb(133, 72, 255);
   width: 250px;
   height: 250px;
   margin-top: -150px;
   margin-left: -140px;
}

#about
{
   padding: 140px 100px 150px 20px;
}

#my-skills
{
   padding: 100px 30px 60px 40px;
   border-color: black;
   color: black;
}

#work
{
   padding: 100px 30px 130px 10px;
}

#contact
{
   padding: 100px 10px 300px 3px;
}

#contact-text
{
   background-color: var(--bg);
   width: 670px;
   height: 580px;
   margin-left: 50px;
   padding-left: 30px;
   padding-right: 20px;
   padding-top: 30px;
}

#my-circle7
{
   border-radius: 50%;
   border: 2px solid deepskyblue;
   width: 400px;
   height: 400px;
   margin-top: -700px;
   margin-left: 1150px;
}

#my-circle8
{
   border-radius: 50%;
   border: 2px solid rgb(154, 104, 255);
   width: 300px;
   height: 300px;
   margin-top: -180px;
   margin-left: 1120px;
}

#footer-bg
{
   background-color: var(--footerBg);
   position: absolute;
   bottom: 0;
   left: 0;
   right: inherit;
   width: 100%;
   height: 155px;
}

.contact-link
{
   color: var(--fontColor);
   text-decoration: none;
}

.contact-link:hover
{
   color: deepskyblue;
}

#work-title
{
   padding-bottom: 50px;
}

#resume-link
{
   color: var(--fontColor);
}

#resume-link:hover
{
   color: deepskyblue;
}

/*For swiper */
.swiper {
   max-width: 100%;
   max-height: 70%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: var(--bg);
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .swiper-slide img
 {
   width:400px;
   height:250px;
   box-shadow: 2px 6px 20px 2px rgba(0, 0, 0, 0.40);
 }

 .swiper-button-next, .swiper-button-prev
 {
    color: var(--pr1Color);
 }
 
 @media only screen and (max-width:600px) 
  {
     #social-media-links
     {
        display: none;
     }
  
     #sent1,#sent2,#sent3
     {
        font-size: 26px;
     }
  
     #front-page
     {
        margin-top: 210px;
     }

     #home-page-links,#my-circle2,#my-circle4,#my-circle5,#my-circle6
     {
        display: none;
     }

     #about-text
     {
        width: 420px;
        height: 400px;
        margin-left: -32px;
     }

     #about
    {
       padding: 50px 100px 250px 20px;
    }

     #work
     {
        padding-top: 130px;
        padding-bottom: 60px;
     }

     #my-skills
     {
         padding-top: 170px;
         padding-bottom: 30px;
     }

     #contact
     {
        padding-top: 50px;
     }

     #contact-text
     {
        width:400px;
        height: 450px;
        margin-left: -10px;
     }

    .swiper 
    {
       width: 300px;
       height: 650px;
    }
   
    .swiper-slide 
    {
      text-align: center;
      font-size: 18px;
      background: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-next 
    {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev 
    {
      left: 20px;
      transform: rotate(90deg);
    }

    .swiper-slide img
    {
      width:300px;height:175px;
    }
  }
  
  @media only screen and (min-width:601px) 
  {
     #sent1,#sent2,#sent3
     {
        font-size: 33px;
     }
  
     #front-page
     {
        margin-top: 70px;
     }

     #my-circle4,#my-circle5,#my-circle6
     {
        display: none;
     }

     #about-text
     {
        width: 450px;
        height: 400px;
        margin-left: -22px;
     }

     #my-skills
     {
         padding-top: 190px;
         padding-bottom: 30px;
     }

     #work
     {
        padding-top: 130px;
        padding-bottom: 60px;
     }

     #contact
     {
        padding-top: 50px;
     }

     #contact-text
     {
        width:400px;
        height: 450px;
        margin-left: -10px;
     }

     .swiper {
      width: 300px;
      height: 650px;
    }
   
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }

    .swiper-slide img
    {
      width:300px;height:175px;
    }
  }
  
  @media only screen and (min-width:701px) 
  {
     #sent1,#sent2,#sent3
     {
        font-size: 36px;
     }
  
     #front-page
     {
        margin-top: 70px;
     }

     #about-text
     {
        width: 600px;
        height: 500px;
        margin-left: -10px;
     }

     #about
     {
        padding-bottom: 70px;
     }

     #my-skills
     {
         padding-top: 150px;
         padding-bottom: 30px;
     }

     #work
     {
        padding-top: 150px;
        padding-bottom: 60px;
     }

     #contact
     {
        padding-top: 50px;
     }

     #contact-text
     {
        width:500px;
        height: 580px;
        margin-left: -10px;
     }
   
     .swiper-slide 
    {
      text-align: center;
      font-size: 18px;
      background: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-next 
    {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev 
    {
      left: 20px;
      transform: rotate(90deg);
    }

    .swiper-slide img
    {
      width:300px;height:175px;
    }
  }
  
  @media only screen and (min-width:901px) 
  {
     #sent1,#sent2,#sent3
     {
        font-size: 40px;
     }

     #about
     {
        padding-bottom: 20px;
     }

     #about-text
     {
        width: 700px;
        height: 620px;
        margin-left: -10px;
     }

     #my-skills
     {
         padding-top: 50px;
         padding-bottom: 30px;
     }

     #work
     {
        padding-top: 130px;
        padding-bottom: 60px;
     }

     #contact
     {
        padding-top: 50px;
     }

     #contact-text
     {
        width:670px;
        height: 580px;
        margin-left: -10px;
     }

     /*For swiper */
    .swiper 
    {
      width: 100%;
      height: 70%;
    }

   .swiper-slide 
   {
      text-align: center;
      font-size: 18px;
      background: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .swiper-slide img
   {
      width:290px;height:210px;
   }

  .swiper-button-next, .swiper-button-prev
  {
     color: var(--pr1Color);
  }
  }
  
  @media only screen and (min-width:1100px) 
  {
     #my-skills
     {
        padding-top: 100px;
     }
     #sent1,#sent2,#sent3
     {
        font-size: 50px;
     }

     #my-circle4,#my-circle5,#my-circle6
     {
        display: block;
     }

     #about-text
     {
        border: 20px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right,rgb(95, 183, 255),rgb(154, 104, 255));
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.40);
        width: 700px;
        height: 620px;
        margin-left: 350px;
     }

     #my-circle7
     {
        margin-top: -600px;
        margin-left: 900px;
     }

     #my-circle8
     {
        margin-top: -180px;
        margin-left: 790px;
     }
    
     .swiper 
     {
       width: 100%;
       height: 70%;
     }
   
    .swiper-slide 
    {
      text-align: center;
      font-size: 18px;
      background: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
   
    .swiper-slide img
    {
      width:300px;height:200px;
    }
  }

  @media only screen and (min-width:1200px) 
  {
    #my-circle7
   {
      margin-top: -600px;
      margin-left: 1100px;
   }

   #my-circle8
   {
      margin-top: -180px;
      margin-left: 970px;
   }
}
  
  @media only screen and (min-width:1300px) 
  {
     #sent1,#sent2,#sent3
     {
        font-size: 63px;
     }

     #about-text
     {
        border: 20px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right,rgb(95, 183, 255),rgb(154, 104, 255));
        margin-left: 540px;
     }

     #my-circle7
     {
        margin-top: -600px;
        margin-left: 1110px;
     }

     #my-circle8
     {
        margin-top: -180px;
        margin-left: 990px;
     }

     .swiper-slide img
     {
       width:400px;height:250px;
     }
  }
  
  @media only screen and (min-width:1400px) 
  {
     #about-text
     {
        margin-left: 640px;
     }

     #my-circle7
    {
       margin-top: -700px;
       margin-left: 1150px;
    }

    #my-circle8
   {
      margin-top: -180px;
      margin-left: 1120px;
   }
   
   #work
    {
      padding: 50px 30px 130px 10px;
    }
  }
